/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'roboto', 'helveticaneue', 'helvetica neue', 'helvetica-neue', Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
    height: auto;
  }
  

/* Custom Styles */

body {
    background: white;
    font-family: 'roboto', 'helveticaneue', 'helvetica neue', 'helvetica-neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #242529;
    margin: auto;
    padding: 0;
}

.minor-h-padding{
    padding: 0 1em;
}

.minor-v-padding{
    padding: 1em 0;
}

.major-h-padding{
    padding: 0 1.5em;
}

.major-v-padding{
    padding: 1.5em 0;
}

button:focus{
    background-color: white;
}

/* Responsive iframes */

figure{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

a{
    color: white;
}

/* Flex Styles */

.flex-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

/* Header */

header{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

nav{
    background-color: white;
    box-shadow: none;
}

nav *{
    cursor: pointer;
}

nav ul a{
    color: #242529;
    font-size: 15px;
    padding: 10px;
}

nav ul a:hover{
    color: #696b75;
    background-color: white;
}


nav.flex-row {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.icon{
    margin-top: 25px;
    width: 4em;
}

.home{
    font-weight: bolder;
}

i.fa-search, i.fa-circle-half-stroke{
    height: auto;
    padding: .5em;
}

i.fa-search:hover{
    background-color: rgb(2, 124, 168);
}

i.fa-circle-half-stroke:hover{
    filter: contrast(0);        
}


i.fa-search{
    box-sizing: border-box;
    height: auto;
    padding: 1em;
    margin: 0;
    color: white;
    background-color: rgb(0,176,240);
    transition: background-color .5s;
    border-radius: 15%;
}

button{
    height: auto;
    background-color: white;
    border: none;
    padding: 0;
}

#searchForm > *{
    background: rgba(216, 216, 216, 0.479);
}

#search{
    background-color: rgb(248,248,248);
    padding-left: .5em;
    border-radius: 5%;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
}

#search::placeholder{
    color: rgb(141, 141, 145);
}

.p-menu1{
    height: 100%;
    display: none;
 }

 /* Hamburger */
 .hamburger1 {
   height: 45px;
   margin: 10px;
   display: -ms-grid;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   justify-items: center;
   z-index: 120;
 }
 
 .hamburger1 div {
   background-color: rgb(61, 61, 61);
   position: relative;
   width: 40px;
   height: 5px;
   margin-top: 7px;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 #toggle1 {
   display: none;
 }
 
 #toggle1:checked + .hamburger1 .top {
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
   margin-top: 22.5px;
 }
 
 #toggle1:checked + .hamburger1 .meat {
   -webkit-transform: rotate(45deg);
           transform: rotate(45deg);
   margin-top: -5px;
 }
 
 #toggle1:checked + .hamburger1 .bottom {
   -webkit-transform: scale(0);
           transform: scale(0);
 }
 
 #toggle1:checked ~ .menu1 {
   height: 340px;
   width: 100%;
   position: absolute;
 }
 
 
 /* Menu */
 .menu1 {
   width: 100vw;
   background-color: rgb(211, 211, 211);
   margin: 0;
   display: -ms-grid;
   display: grid;
   grid-template-rows: 1fr repeat(4, 0.5fr);
   grid-row-gap: 25px;
   padding: 0;
   list-style: none;
   clear: both;
   width: auto;
   text-align: center;
   height: 0px;
   overflow: hidden;
   transition: height .4s ease;
   z-index: 120;
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }
 
 .menu1 *{
    color: black;
 }

 .menu1 a:first-child {
   margin-top: 40px;
 }
 
 .menu1 a:last-child {
   margin-bottom: 40px;
 }
 
 .link1 {
   width: 100%;
   margin: 0;
   padding: 10px 0;
   font: 700 20px 'Oswald', sans-serif;
 }
 
 .link1:hover {
   background-color: #fff;
   color: rgb(61, 61, 61);
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
 }

/* Materialize Image Carousel */

main, .carousel-container{
    position: relative;
    vertical-align: middle;
    margin: 0 10%;
}

.carousel{
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 350px;
    perspective: 600px;
}


main .carousel .carousel-item{
    margin-top: 0;
    width: 600px;
    height: 337.5px;
    filter: brightness(.5);
    -webkit-transition : -webkit-filter 300ms linear;
    opacity: 1 !important;
}

.carousel .carousel-item.active{
    filter: brightness(1);
}

/* .carousel .carousel-item img{
    width: 100%;
    aspect-ratio: 16/9;
} */

.carousel .carousel-item img:hover{
    border: 3px solid rgb(0,175,240);
}

.carousel .carousel-item h3{
    position: absolute;
    bottom: 10%;
    left: 15%;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 1.75em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carousel .carousel-item h3:hover{
    transform:scale3d(1.02,1.02,1.02);
    text-shadow: 3px 3px 3px black;
}

.carousel .carousel-item h4{
    position: absolute;
    bottom: 2%;
    left: 15%;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 1.5em;
}

.carousel .carousel-item h4:hover{
    color: white;
}

.carousel .carousel-item div {
    opacity: 0;
}

.carousel .carousel-item.active div {
    opacity: 1;
}

.carousel .carousel-item div img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    bottom: 2%;
    left: 3%;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 1.75em;
    border: solid 1px white;
}

.carousel .carousel-item div img:hover{
    border: solid 1px rgb(0,175,240);
}



.carousel-button{
    position: absolute;
    z-index: 5;
    background: none;
    border: none;
    transform: translateY(-50%);
    font-size: 4rem;
    top: 50%;
    color: #00AFF0;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}
.carousel-button.prev{
    margin-left: 12%;
    left: .1em;
    transition: left .1s;
}

.carousel-button.next{
    margin-right: 12%;
    right: .1em;
    transition: right .1s;
}

.carousel-button.next:hover{
    background-color: white;
    right: 0em;
}

.carousel-button:focus{
    background-color: rgba(255, 255, 255, 0);
}


.carousel-button.prev:hover{
    background-color: white;
    left: 0em;
}

.fade-left{
    margin-left: -1%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(270deg,rgb(255 255 255/0%) 0%,rgb(255 255 255/39%) 20%,rgb(255 255 255) 40%);
    height: 350px;
    width: 22vw;
}

.fade-right{
    margin-right: -1%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transform: rotate(180deg);
    background: linear-gradient(270deg,rgb(255 255 255/0%) 0%,rgb(255 255 255/38%) 20%,rgb(255 255 255) 40%);
    height: 350px;
    width: 22vw;
}


/* Swiper.Js Image Carousel */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    border: 3px solid white;
    transition: border .5s;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:hover{
    border: 3px solid rgb(0,175,240); 
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

.swiper-slide .vid-info{
    position: absolute;
    bottom: .3em;
    left: .5em;
    right: .5em;
    color: white;
    text-align: left;
    z-index: 2;
}

div.fade-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(180deg,transparent 0%,#000000e6 50%,#000000e6);
}

.content-creator, .video-time{
    color: rgb(161,158,159);
    font-size: 16px;
    transition: color .2s, font-size .2s;
}

.content-creator:hover{
    color: white;
    font-size: large;
}

.swiper-container{
    position: relative;
    margin: 0 5%;
}

[class^=swiper-button-next]{
    padding: 1.5%;
    border-radius: 10%;
    margin-right: 15%;
    transition: margin-right .2s;
}

[class^=swiper-button-prev]{
    padding: 1.5%;
    border-radius: 10%;
    margin-left: 15%;
    transition: margin-left .2s;    
}

[class^=swiper-button-next]:hover{
    background-color: white;
    margin-right: 14.75%;
}

[class^=swiper-button-prev]:hover{
    background-color: white;
    margin-left: 14.75%;    
}

.category{
    margin: 30px auto 5px auto;
}

.category a{
    margin-left: 18.5vw;
    font-size: x-large;
    font-weight:300;
    color: rgb(69,72,76);
    transition: color .3s;
}

.category a:hover{
   color: rgb(44,172,227);
}

.fade-left-minor{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(270deg, rgb(255 255 255/0%) 0%,rgb(255 255 255/39%) 20%,rgb(255 255 255) 40%);
    height: 100vh;
    width: 20vw;
}

.fade-right-minor{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transform: rotate(180deg);
    background: linear-gradient(270deg,rgb(255 255 255/0%) 0%,rgb(255 255 255/39%) 20%,rgb(255 255 255) 40%);
    height: 100vh;
    width: 20vw;
}

/* Footer Styles */

footer{
    color: white;
    margin-top: 50px;
    padding: 0 15%;
    height: 150px;
    background-color: rgb(36,37,41);
}

footer section.flex-row{
    width: 100%;
    justify-content: space-evenly;
}

footer h5{
    font-size: 20px;
    font-weight: 200;
}

footer .center{
    margin-left: 80px;
}

footer .footer-nav{
    color: white;
}

footer a:hover{
    filter: brightness(.8);
    text-decoration: underline;
}


/* Dark Mode Styles */

body.dark-mode, nav.dark-mode, .swiper-slide.dark-mode, button.dark-mode, a.dark-mode{
    background-color: rgb(36,37,41);
}

.fade-left.dark-mode{
    background: linear-gradient(270deg,rgb(36 37 41/0%) 0%,rgb(36 37 41/38%) 20%,rgb(36 37 41) 40%);
}

.fade-left-minor.dark-mode{
    background: linear-gradient(270deg,rgb(36 37 41/0%) 0%,rgb(36 37 41/38%) 20%,rgb(36 37 41) 40%);
}

.fade-right.dark-mode{
    background: linear-gradient(270deg,rgb(36 37 41/0%) 0%,rgb(36 37 41/38%) 20%,rgb(36 37 41) 40%);
}

.fade-right-minor.dark-mode{
    background: linear-gradient(270deg,rgb(36 37 41/0%) 0%,rgb(36 37 41/38%) 20%,rgb(36 37 41) 40%);
}

.swiper-slide.dark-mode{
    border: 3px solid rgb(36,37,41);
}

a.dark-mode{
    color: white;
}

#search.dark-mode{
    background-color: rgb(48,49,54);
}

/* Media Queries */

@media screen and (max-width: 2400px) {
    .swiper-slide h3, .swiper-slide h4, .swiper-slide h5{
        font-size: smaller;
    }
}

@media screen and (max-width: 1400px) {
    .fade-left-minor, .fade-right-minor, .fade-right, .fade-left{
        width: 10vw;
    }

    footer.flex-col *{
        font-size: small;
    }

    [class^=swiper-button-next]{
        margin-right: 0%;
    }

    [class^=swiper-button-prev]{
        margin-left: 0%;
    }

    [class^=swiper-button-next]:hover{
        background-color: white;
        margin-right: -1%;
    }

    [class^=swiper-button-prev]:hover{
        background-color: white;
        margin-left: -1%;    
    }

}

@media screen and (max-width: 950px) {
    .fade-left-minor, .fade-right-minor, .fade-right, .fade-left{
        display: none;
    }

    main, .carousel-container, .swiper-container{
        margin: 0 2%;
    }

    footer.flex-col{
        height: 175px;
        padding: 0 5%;
    }

    footer .center{
        margin: 0%;
    }
    
}

@media screen and (max-width: 660px) {
    footer section.flex-row{
        flex-direction: column;
        margin-top: -11%;
    }

    footer.flex-col * {
        font-size: 12px;
        padding: 1em 0 0 0;
    }

    footer.flex-col {
        height: 275px;
        padding: 0px 0%;
    }

    a.footer-nav{
        margin-left: .5em;
    }

    header {
        width: 100%;
    }

    .carousel-button.next {
        margin-right: 0%;
    }

    .carousel-button.prev {
        margin-left: 0%;
    }

}

@media screen and (max-width: 600px) {
    figure{
        margin: auto;
        width: 90%;
        padding-bottom: 0;
    }

    iframe{
        height: auto;
        aspect-ratio: 16/9;
    }

    .carousel {
        height: 330px;
    }

    main .carousel .carousel-item{
        padding-top: 2%;
        height: 315px;
    }

    .category{
        margin: 15px 0 0 0;
    }

    nav ul a{
        padding: 4px;
    }

    .carousel .carousel-item h3{
        bottom: 10%;
        left: 18%;
        font-size: 1.4em;
    }

    .carousel .carousel-item h4{
        bottom: 4%;
        left: 18%;
        font-size: 1.1em;
    }
    
    .carousel .carousel-item div img{
        bottom: 2%;
        left: 6%;
    }
}

@media screen and (max-width: 550px) {
    figure{
        width: 80%;
    }

    .carousel{
        height: 300px;
    }

    main .carousel .carousel-item{
        height: 280px;
    }

    .p-menu1{
        display: block;
    }

    #toggle1:checked ~ .menu1 {
        height: 450px;
    }

    #searchform{
        margin: auto;
        width: 80%;
    }

    button{
        background-color:  rgb(211, 211, 211);
    }

    #pc-header{
        display: none;
    }

    .carousel .carousel-item h3{
        bottom: 10%;
        left: 23%;
        font-size: 1.4em;
    }

    .carousel .carousel-item h4{
        bottom: 4%;
        left: 23%;
        font-size: 1.1em;
    }
    
    .carousel .carousel-item div img{
        bottom: 2%;
        left: 12%;
    }
    
}

@media screen and (max-width: 500px) {
    figure{
        width: 75%;
    }

   .carousel{
        height: 260px;
    }

    main .carousel .carousel-item{
        padding-top: 5%;
        height: 270px;
    }

    .carousel .carousel-item h3{
        bottom: 8%;
        left: 25%;
        font-size: 1.2em;
    }

    .carousel .carousel-item h4{
        bottom: 2%;
        left: 25%;
        font-size: .9em;
    }
    
    .carousel .carousel-item div img{
        bottom: 0%;
        left: 15%;
    }
}

@media screen and (max-width: 450px) {
    figure{
        width: 70%;
    }

   .carousel {
        height: 240px;
    }

    main .carousel .carousel-item{
        padding-top: 5%;
        height: 240px;
    }

    .carousel .carousel-item h3{
        bottom: 8%;
        left: 29%;
        font-size: 1em;
    }

    .carousel .carousel-item h4{
        bottom: 2%;
        left: 29%;
        font-size: .7em;
    }

    .carousel .carousel-item div img{
        bottom: 1%;
        left: 17%;
    }
    
}

@media screen and (max-width: 400px) {
    figure{
        width: 65%;
    }

    .carousel {
        height: 225px;
    }
    
    main .carousel .carousel-item{
        padding-top: 5%;
        height: 240px;
    }

    .carousel .carousel-item h3{
        bottom: 10%;
        left: 32%;
        font-size: 1em;
    }

    .carousel .carousel-item h4{
        bottom: 4%;
        left: 32%;
        font-size: .8em;
    }

    .carousel .carousel-item div img{
        bottom: 3%;
        left: 21%;
    }

}

@media screen and (max-width: 350px) {
    figure{
        width: 60%;
    }

    main .carousel .carousel-item{
        height: 220px;
    }

    .carousel .carousel-item h3{
        bottom: 10%;
        left: 37%;
        font-size: 1em;
    }

    .carousel .carousel-item h4{
        bottom: 4%;
        left: 37%;
        font-size: .8em;
    }

    .carousel .carousel-item div img{
        bottom: 3%;
        left: 25%;
    }

}