/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'roboto', 'helveticaneue', 'helvetica neue', 'helvetica-neue', Helvetica, Arial, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
    height: auto;
  }
  

/* Custom Styles */

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: white;
    max-width: 90%;
    font-family: 'roboto', 'helveticaneue', 'helvetica neue', 'helvetica-neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #242529;
    margin: auto;
    padding: 0;
}

/* Flex Styles */

.flex-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-flow: column nowrap;
}

.space-between{
    justify-content: space-between;
}

/* Header */

header{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

nav{
    background-color: white;
    box-shadow: none;
}

nav *{
    cursor: pointer;
}

nav ul a{
    color: #242529;
    font-size: 15px;
    padding: 10px;
}

nav ul a:hover{
    color: #696b75;
    background-color: white;
}


nav.flex-row {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.icon{
    margin-top: 25px;
    width: 4em;
}

.home{
    font-weight: bolder;
}

i.fa-search, i.fa-circle-half-stroke{
    height: auto;
    padding: .5em;
}

i.fa-search:hover{
    background-color: rgb(2, 124, 168);
}

i.fa-circle-half-stroke:hover{
    filter: contrast(0);        
}


i.fa-search{
    box-sizing: border-box;
    height: auto;
    padding: 1em;
    margin: 0;
    color: white;
    background-color: rgb(0,176,240);
    transition: background-color .5s;
    border-radius: 15%;
}

button{
    height: auto;
    background-color: white;
    border: none;
    padding: 0;
}

#searchForm > *{
    background: rgba(216, 216, 216, 0.479);
}

#search{
    background-color: rgb(248,248,248);
    padding-left: .5em;
    border-radius: 5%;
    border-bottom: none;
    box-shadow: none;
    margin: 0;
}

#search::placeholder{
    color: rgb(141, 141, 145);
}



/* Materialize Image Carousel */

main, .carousel-container{
    position: relative;
    vertical-align: middle;
    margin: auto;
}

.carousel{
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 350px;
    perspective: 600px;
}


main .carousel .carousel-item{
    margin-top: 0;
    width: 600px;
    height: 337.5px;
    filter: brightness(.5);
    -webkit-transition : -webkit-filter 300ms linear;
    opacity: 1 !important;
}

.carousel .carousel-item{
    width: 600px;
    height: 337.5px;
    filter: brightness(.5);
    -webkit-transition : -webkit-filter 300ms linear;
    opacity: 1 !important;
}

.carousel .carousel-item.active{
    filter: brightness(1);
}

.carousel .carousel-item img{
    width: 100%;
    aspect-ratio: 16/9;
}

.carousel .carousel-item img:hover{
    border: 3px solid rgb(0,175,240);
}

.carousel .carousel-item h3{
    color: white;
    margin: -2.5em 0;
    padding: 10px 5px;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.carousel .carousel-item h4{
    color: rgba(255, 255, 255, 0.75);
    margin: 2.5em;
    padding: 10px 5px;
    text-align: center;
    font-size: 1.5em;
}

.carousel-button{
    position: absolute;
    z-index: 5;
    background: none;
    border: none;
    transform: translateY(-50%);
    font-size: 4rem;
    top: 50%;
    color: #00AFF0;
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}
.carousel-button.prev{
    margin-left: 20%;
    left: .1em;
    transition: left .1s;
}

.carousel-button.next{
    margin-right: 20%;
    right: .1em;
    transition: right .1s;
}

.carousel-button.next:hover{
    background-color: white;
    right: 0em;
}

.carousel-button:focus{
    background-color: none;
}


.carousel-button.prev:hover{
    background-color: white;
    left: 0em;
}

.fade-left{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(270deg,rgb(255 255 255/0%) 0%,rgb(255 255 255/39%) 19%,rgb(255 255 255) 20%);
    height: 350px;
    width: 24vw;
}

.fade-right{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transform: rotate(180deg);
    background: linear-gradient(270deg,rgb(255 255 255/0%) 0%,rgb(255 255 255/38%) 19%,rgb(255 255 255) 20%);
    height: 350px;
    width: 24vw;
}


/* Swiper.Js Image Carousel */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    border: 3px solid white;
    transition: border .5s;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:hover{
    border: 3px solid rgb(0,175,240); 
}

.swiper-slide img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

.swiper-slide .vid-info{
    position: absolute;
    bottom: .3em;
    left: .5em;
    right: .5em;
    color: white;
    text-align: left;
    z-index: 2;
}

.swiper-slide div.fade-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,transparent 0,transparent 70%,#000000e6 90%,#000000e6);
}

.content-creator{
    color: rgb(161,158,159);
    font-size: small;
    transition: color .2s, font-size .2s;
}

.content-creator:hover{
    color: white;
    font-size: large;
}

  /* Addition Swiper JS Stylings */

.swiper-container{
    position: relative;
}

[class^=swiper-button-next]{
    margin-right: 15%;
}

[class^=swiper-button-prev]{
    margin-left: 15%;    
}

.category{
    margin: 20px auto 5px auto;
}

.category a{
    margin-left: 20vw;
    font-size: x-large;
    color: rgb(69,72,76);
    transition: color .3s;
}

.category a:hover{
   color: rgb(44,172,227);
}

.fade-left-minor{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(270deg, rgb(255 255 255/0%) 0%,rgb(255 255 255/39%) 20%,rgb(255 255 255) 40%);
    height: 25vh;
    width: 20vw;
}

.fade-right-minor{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    transform: rotate(180deg);
    background: linear-gradient(270deg,rgb(255 255 255/0%) 0%,rgb(255 255 255/39%) 20%,rgb(255 255 255) 40%);
    height: 25vh;
    width: 20vw;
}